// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

// DropDown
$DROPDOWN_BACKGROUND: $GRAYE;
$DROPDOWN_BORDER: $GRAYA;

// Slider
$SLIDER_BACKGROUND: $GRAYE;
$SLIDER_BUTTON: #2aa12a;
$SLIDER_BUTTON_HOVER: #32cd32;

// TAB
$TAB_SLIDER: #008080;

// TOGGLE
$TOGGLE_BACKGROUND: #dcdcdc;
