.tab-container {
  display: inline-block;
  min-width: 450px;
}

.tabs {
  margin: 0;
  padding: 0;
}
.tabs li {
  display: inline-block;
  width: 150px;
  line-height: 50px;
  font-weight: bold;
}
.tabs li:hover {
  cursor: pointer;
  background-color: gainsboro;
}

.tab-active {
  color: black;
  transition: color 0.5s;
}

.tab-inactive {
  color: gray;
}

.tab-slider {
  width: 150px;
  border-bottom: 2px solid teal;
  transition: all 0.5s;
}

.tab-content-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.tab-content {
  font-size: large;
  font-weight: bold;
}
