.toggle-container {
  position: relative;
  display: inline-block;
  min-width: 300px;
}

.toggle {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  border: 2px solid gainsboro;
  border-radius: 30px;
}
.toggle li {
  position: relative;
  display: inline-block;
  width: 150px;
  line-height: 40px;
  font-weight: bold;
}
.toggle li:hover {
  cursor: pointer;
}

.toggle-active {
  color: black;
}

.toggle-inactive {
  color: gray;
}

.toggle-content-container {
  display: flex;
  margin-top: 10px;
  height: 300px;
  border-radius: 10px;
  background-color: cadetblue;
  justify-content: center;
  align-items: center;
}

.toggle-content {
  font-size: large;
  font-weight: bold;
}
