.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 10px;
  border: 2px solid black;
}

.content-container {
  display: inline;
  width: 250px;
  text-align: left;
  /* border: 1px solid black; */
}

.content-title {
  text-align: center;
}
