.App {
  justify-content: center;
  text-align: center;
}

.container {
  display: inline-block;
  justify-content: center;
  width: 50%;
  padding: 20px;
  margin-bottom: 30px;
  border: 2px solid limegreen;
}
