.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.panel-container {
  display: inline-flex;
  flex-direction: row;
  width: 400px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(241, 240, 240);
  border: 2px solid darkgray;
  border-radius: 10px;
  align-items: center;
}

.panel-left-container {
  flex: 5;
  font-weight: bold;
  text-align: right;
}

.panel-right-container {
  width: 40px;
  font-size: small;
}

.slide-bar-container {
  display: inline-block;
  width: 500px;
}

.range-slider {
  -webkit-appearance: none;
  margin-bottom: 15px;
  width: 97%;
  height: 10px;
  border-radius: 20px;
  background-color: rgb(241, 240, 240);
}
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: rgb(42, 161, 42);
  cursor: pointer;
}
.range-slider::-webkit-slider-thumb:hover {
  background: limegreen;
}

.slider-btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-btn {
  width: 40px;
  line-height: 20px;
  border-radius: 20px;
  background-color: rgb(241, 240, 240);
  font-size: x-small;
  color: gray;
}
.slider-btn:hover {
  cursor: pointer;
  color: white;
  background: rgb(42, 161, 42);
}
